<?xml version="1.0" encoding="utf-8"?>
<jnlp
    spec="1.0+"
    codebase="http://www.domaine.com/webstart/"
    href="$outputFile">
  <information>
    <title>$informationTitle</title>
    <vendor>$informationVendor<vendor/>
    <homepage>$informationHomepage<homepage/>
    <description kind="one-line">$informationDescription</description>
  </information>
  <security>
     <all-permissions/>
  </security>
  <resources>
    <j2se version="1.4+"
     initial-heap-size="32m"
     max-heap-size="128m"
     />
     $dependencies
  </resources>
  <application-desc main-class="$mainClass">
    <argument>1</argument>
    <argument>2</argument>
  </application-desc>
</jnlp>
