## timestamp ??
<?xml version="1.0" encoding="utf-8"?>
<jnlp
#if( $config.spec )
    spec="${config.spec}"
#end
#if( $config.jnlp.version )
    spec="${config.jnlp.version}"
#end
#if( $config.jnlp.href )
    spec="${config.jnlp.href}"
#end
#if( $config.jnlp.codebase )
    codebase="${config.jnlp.codebase}"
#else
    codebase="$$codebase"
#end
    href="$outputFile.name">
##
## JNLP/INFORMATION
##
#foreach( $information in $config.jnlp.informations )
  <information>
    <title>${information.title}</title>
#if( $information.vendor )
    <vendor>${information.vendor}</vendor>
#end
#if( $information.homepage )
    <homepage href="${information.homepage}"/>
#end
#foreach( $description in $information.descriptions )
    <description #if( $description.kind )kind="${description.kind}"#end>${description.text}</description>
#end
#foreach( $icon in $information.icons )
##
## JNLP/INFORMATION/ICON
##
    <icon
#if( $icon.kind )
      kind="${icon.kind}"
#end
#if( $icon.width )
      width="${icon.width}"
#end
#if( $icon.height )
      height="${icon.height}"
#end
#if( $icon.depth )
      depth="${icon.depth}"
#end
#if( $icon.size )
      size="${icon.size}"
#end
## REQUIRED
      href="images/${icon.fileName}"/>
#end
##
## END JNLP/INFORMATION/ICON
##
## ------------------------------
##
#if( $config.jnlp.offlineAllowed )
    <offline-allowed/>
#end
##NEED ASSOCIATIONS (FIXME)
#if( $information.association)
    <association mime-type="${information.association.mimetype}" extensions="${information.association.extensions}"/>
#end
##
##
## JNLP/INFORMATION/SHORTCUT FIXME
##
#if( $information.shortcut )
    <shortcut online="${information.shortcut.online}">
#if($information.shortcut.desktop)
      <desktop/>
#end
#if($information.shortcut.menu)
      <menu #if( $information.shortcut.submenu )submenu="${information.shortcut.submenu}"#end/>
#end
    </shortcut>
#end
##
## END JNLP/INFORMATION/SHORTCUT
##
  </information>
#end
##
## END JNLP/INFORMATION
##
## ------------------------------
##
## JNLP/SECURITY
##
#if( $config.jnlp.isAllPermissions() )
  <security>
     <all-permissions/>
  </security>
#end
#if( $config.jnlp.isJ2EEClientPermissions() )
  <security>
     <j2ee-application-client-permissions/>
  </security>
#end
##
## END JNLP/SECURITY
##
## ------------------------------
##
## JNLP/RESOURCES
##
  <resources>
##
## JNLP/RESOURCES/J2SE
##
#foreach($j2se in $config.jnlp.allResources.j2ses )
    <j2se version="${j2se.version}"
#if($j2se.href)
     href="$j2se.jhref"
#elseif($j2se.autodownload)
     href="http://java.sun.com/products/autodl/j2se"
#end
#if($j2se.javaVmArgs)
     java-vm-args="$j2se.javaVmArgs"
#end
#if($j2se.initialHeapSize)
     initial-heap-size="$j2se.initialHeapSize"
#end
#if($j2se.maxHeapSize)
     max-heap-size="$j2se.maxHeapSize"
#end
     />
#end
##
## END JNLP/RESOURCES/J2SE
##
## ------------------------------
##
## JNLP/RESOURCES/PROPERTIES FIXME
##
#foreach($property in $config.jnlp.allresources.properties )
    <property name="${property.name}" value="${property.value}"/>
#end
##
## END JNLP/RESOURCES/PROPERTIES
##
## ------------------------------
##
## JNLP/RESOURCES/JAR
##
#foreach($artifact in $config.packagedJnlpArtifacts)
#if($config.isArtifactWithMainClass($artifact))
    <jar href="${artifact.file.name}" main="true"/>
#else
    <jar href="${artifact.file.name}"/>
#end
#end
##
  </resources>
##
## END JNLP/RESOURCES/JAR
##
## ------------------------------
## FIXME
#foreach($jar in $config.expandedNativeLibs)
  <resources #if($jar.os) os="${jar.os}" #end>
    <nativelib href="${jar}"/>
  </resources>
#end
##
## ------------------------------
## JNLP/APPLICATION-DESC
#if ( $config.jnlp.arguments )
  <application-desc main-class="${config.jnlp.mainClass}">
#foreach($arg in $config.jnlp.arguments)
    <argument>$arg</argument>
#end
  </application-desc>
#else
  <application-desc main-class="${config.jnlp.mainClass}"/>
#end
## END JNLP/APPLICATION-DESC
##
#if($config.installermainclass)
  <installer-desc main-class="${config.installermainclass}"/>
#end
</jnlp>
